[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/vim-espresso"]
	path = .vim/bundle/vim-espresso
	url = git@github.com:gmoe/vim-espresso.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/suda.vim"]
	path = .vim/bundle/suda.vim
	url = git@github.com:lambdalisue/suda.vim.git
